@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="d-block d-xs-block d-sm-block d-md-block d-xl-none d-lg-none col-sm-12 col-xs-12 ">
        <h2 class="d-block d-xl-none d-lg-none">
            What is the NIH HEAL Initiative?
        </h2>



        <div>

            <img src="~/images/nih-heal-graphic-horizontal.jpg" width="1157" height="579" alt="HEAL. NIH - Helping to End Addiction Long-term" typeof="foaf:Image" class="img-fluid">


        </div>



    </div>
    <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12">
        <h2 class="d-none d-lg-block d-xl-block">
            What is the NIH HEAL Initiative?
        </h2>

        <p>Over 50 million Americans suffer from chronic pain. Opioid medications are a common treatment for pain, but effective and safe non-opioid options for pain management are lacking. The widespread use of opioids to treat acute and chronic pain contributed to the approximately 10.3 million people aged 12 years and older in the United States in 2018 who misused opioids.</p>

        <p>The Helping to End Addiction Long-term<sup>SM</sup> Initiative, or&nbsp;NIH HEAL Initiative<sup>SM</sup>, is taking an “all hands on deck” approach to the opioid crisis, garnering expertise from almost every NIH Institute and Center (IC) to accelerate research and address the public health emergency from all angles.</p>








        <a class="btn btn-secondary gtm-content-button" href="/about">

            Learn about the NIH HEAL Initiative

        </a>

    </div>
    <div class="col-xl-6 col-lg-6 d-none d-lg-block d-xl-block">



        <div>


        </div>



    </div>
</div>


@*<div class="row">
    <div class="col-md-3">
        <h2>Hack the OPIOD Crisis</h2>

    </div>

</div>
<!-- google sign-in button -->
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div id="amazon-root"></div>
<div id="fb-root"></div>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true"></div>
<span id="cwppButton"></span>
<!-- google sign-out button -->
<!-- <a href="#" onclick="signOut();"> Sign out of Google Login </a> -->
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }</script>
<!-- amazon sdk js files -->

<script type="text/javascript">
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientID('amzn1.application-oa2-client.fc7ecc78f2fe460da59c26e781b596d4');

    };
    (function (d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://assets.loginwithamazon.com/sdk/na/login1.js';
        d.getElementById('amazon-root').appendChild(a);
    })(document);</script>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=440939906589350&autoLogAppEvents=1"></script>

<script src='https://www.paypalobjects.com/js/external/connect/api.js'></script>
<script>
    paypal.use(['login'], function (login) {
        login.render({

            "appid": "AcZc69KaanPjNntpwVS43SVYayJHKJd23iuH0nmc55AtIVPR7aw7QSJjONz3Scwx3DSwWhyYutlW5R9T",
            "scopes": "openid",
            "containerid": "cwppButton",
            "responseType": "code",
            "locale": "en-us",
            "buttonShape": "pill",
            "buttonSize": "lg",
            "fullPage": "true",

            "returnurl": "AcZc69KaanPjNntpwVS43SVYayJHKJd23iuH0nmc55AtIVPR7aw7QSJjONz3Scwx3DSwWhyYutlW5R9T"
        });
    });</script>

<a href id="LoginWithAmazon">
    <img border="0" alt="Login with Amazon"
         src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png" width="156" height="32" />
</a>
<!-- AuthorizeRequest object after Amazon button -->
<script type="text/javascript">
    document.getElementById('LoginWithAmazon').onclick = function () {
        options = {}
        options.scope = 'profile';
        options.scope_data = {
            'profile': { 'essential': false }

        };
        amazon.Login.authorize(options,
            'https://hoc.azurewebsites.net');
        return false;
    };</script>*@